{{!-- user login是否成功--}}
{{#if success_msg}} {{!-- condition if else--}}
<div class="alert alert-success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}