<style>
  h1{color: rgba(159, 6, 101, 0.996);
     font-family: fantasy;
  }
  P{font-size: larger;
    font-family:cursive;
    font-style: oblique;
  }

  </style>
<body>
 <h1>
    THE HISTORY OF THE LORA
 </h1>
  <p>
  </p>

<table>
    <thead>
      
        <th>
          <img src="/img/logo1.png" alt="product" class="img-fluid img-thumbnail">
         </th>
        <th> 
          The Lora is the story of a relationship between a couple, Lora and Philip. <br>
          A relationship based on mutual inspiration while embracing the diversity of their respective backgrounds and mentalities.<br>
          The authenticity of this relationship was carried into what in 2020 became The Lora. <br>
          The vision was to create a niche in the lifestyle industry based on a dualistic approach that combined the two completely different styles. <br>
          At The Lora, we believe in unifying human relations across physical and cultural borders by defining a visionary lifestyle based on compassion, creativity, and the freedom to aim high - we make premium aromatic.
        </th>
    
    </thead>

</table>

</body>