<!--  check每一個error  -->
{{!-- {{#each errors}} --}}
<!--    都用div show 警告-->
  {{!-- <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}} --}}
<!--一個form，post to ideas-->
<div class="card card-body">
    <h3>Feedback</h3>
    <form action="/ideas" method="POST">
        <!--  title      -->
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title"class="form-control" {{!--required--}}/> 
        </div>
        <!--  detail      -->
        <div class="form-group">
            <label for="details">Details</label> 
            <textarea name="details"class="form-control" {{!--required--}}/></textarea> 
        </div>
        <!--  submit button      -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>